.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.signup {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 340px;
  background-color: rgb(36, 137, 50);
}
.signup-form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
